section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: right;
	width: 600px;
	background: black;
    opacity: 0.7;
    height: 100%;
}

h2 {
    margin-top: 0px;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
.weather-detail-box {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-top: 10px;
}
.detail {
    display: flex;
    width: auto;
}

.no-result {
    font-size: 25px;
    font-weight: bold;
}


.forcast {
    margin-top: 20px;
    font-size: 25px;
}

.forcast {
    font-weight: bold;
    animation: bell 3s linear;
}

@keyframes bell{
    0%, 50%{
      transform: rotate(0deg);
      }
    5%, 15%, 25%, 35%, 45% {
      transform: rotate(1deg);
    }
    10%, 20%, 30%, 40% {
      transform: rotate(-1deg);
    }
  }



