input {
    all: unset;
    color: black;
    background-color: white;
    border-radius: 20px;
    height: 40px;
    width: 100%;
    padding-left: 20px;
}

.weather-info{
    color: red;
}

.searchbar-container {

   width: 500px;
}

.searchbar-box {
    position: relative;
}
.search-icon {
    position: absolute;
    right: 5px;
    bottom: 11px;
    color:black
    
}
.weather-detail {
    width: 100%;
    padding: 0 20px;
}

.detail-title {
    width: 100%;
    font-size: 28px;
    border-bottom: 1px solid;
    margin-bottom: 50px;
}

.detail-box {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    font-size: 23px;
}


